@import "tailwindcss";

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container {
  max-width: 1400px;
  padding-inline: 10px;
  margin-inline: auto;
}

input {
  outline: none;
}

button {
  cursor: pointer;
}
