@import "tailwindcss";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

[data-aos] {
  will-change: transform;
  backface-visibility: hidden;
}

body {
  overflow-x: hidden;
}

.container {
  max-width: 1400px;
  padding-inline: 10px;
  margin-inline: auto;
}

input {
  outline: none;
}

button {
  cursor: pointer;
}